@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <a href="mailto:email@gmail.com">Please contact us on email@gmail.com</a>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
}



